<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-sm-6">
    <h1>Channels</h1>
  </div>

  <div class="col-sm-6 text-right">
    <%= link_to "Add New channel", new_channel_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @channels.each do |channel| %>
        <%= content_tag :tr, id: dom_id(channel), class: dom_class(channel) do %>
          <td><%= link_to channel.name, channel %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

