<div class="sticky-top pt-3">
  <div class="d-flex justify-content-between">
    <h6>Channels</h6>
    <%= link_to icon("fas", "plus"), new_channel_path %>
  </div>

  <ul class="list-group">
    <% Channel.all.each do |channel| %>

      <li data-controller="unreads" data-unreads-id=<%= channel.id %> class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to_if !active_channel?(channel), channel.name, channel %>
        <span data-unreads-target="mentions" class="badge bg-danger rounded-pill fw-bold text-white" hidden>0</span>
        <!-- span을 둘러싸고 있던 if 때문에 target이 적용되지 않은 듯! -->
      </li>
      <%#= tag.li data: { controller: "unreads", unreads_id: channel.id }, class: ["list-group-item d-flex justify-content-between align-items-center", ("active" if active_channel?(channel))] do %>
        <%#= link_to_if !active_channel?(channel), channel.name, channel %>
        <%# if !active_channel?(channel) %>
        <!--<span data-unreads-target="mentions" class="badge badge-primary badge-pill" hidden>0</span>-->
        <%# end %>
    <% end %>
  </ul>

  <hr />

  <div class="d-flex justify-content-between">
    <h6>Users</h6>
  </div>
  <% @channel.users.each do |user| %>
    <div>
      <%= user.username %>
    </div>
  <% end %>
</div>
